#add-worker {
    margin: 0 auto;
    width: 700px;
    padding: 20px;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 60px;
}

#add-worker-form {
    padding-top: 30px;
    margin: 0 auto;
}

.inputWrapper { 
    margin: 0 auto;
    height: 120px;
}

#add-worker-form button {
    margin-top: 20px;
    text-align: center;
}

#add-worker-form label, .input-msg {
    text-align: left;
    display: block;
    margin-left: 100px;
}

#add-worker-form label {
    font-weight: bold;
}

.input-msg {
    color: #336699;
    font-weight: bold;
    font-size: 13px;
}

#error-msg {
    color: red;
}

#add-worker-form input, textarea {
    width: 300px;
}

