#add-worker {
    margin: 0 auto;
    width: 700px;
    padding: 20px;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 60px;
}

#add-worker-form {
    padding-top: 30px;
    margin: 0 auto;
}

.inputWrapper { 
    margin: 0 auto;
    height: 120px;
}

#add-worker-form button {
    margin-top: 20px;
    text-align: center;
}

#add-worker-form label, .input-msg {
    text-align: left;
    display: block;
    margin-left: 100px;
}

#add-worker-form label {
    font-weight: bold;
}

.input-msg {
    color: #336699;
    font-weight: bold;
    font-size: 13px;
}

#error-msg {
    color: red;
}

#add-worker-form input, textarea {
    width: 300px;
}

/* AdminDashboard */

.dashboard {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
}

.dashboard-left-column {
    width: 20%;
    height: 1000px;
}

.dashboard-right-column {
    width: 80%;
    padding-top: 30px;
    padding-left: 20px;
    background:#f0f0f5;
}

.admin-opt, .admin-opt-title {
    padding: 10px 20px;
    height: 60px;
}

.admin-opt-title {
    font-weight: bold;
}

.admin-opt span {
    line-height: 40px;
}

