# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Google Drive - RMIT\2020 - S2\Software Engineering Process And Tools - COSC2299\Assignments\majorproject-5-wed-16-30-6\BackEnd\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
